//Main SASS
@import "normalize";
@import "boilerplate";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

@font-face {
    font-family: 'Replica';
    src: url("../fonts/replica/ReplicaStd-Regular.woff");
}
@font-face {
    font-family: 'Replica';
    src: url("../fonts/replica/ReplicaStd-Bold.woff");
    font-weight: bold;
}
@font-face {
    font-family: 'Replica';
    src: url("../fonts/replica/ReplicaStd-Light.woff");
    font-weight: 300;
}

@mixin estilo-texto {
  font-family: 'Replica', sans-serif;
  color: white;
  text-transform: uppercase;
}

body {
  background-color: black;
  font-size: 1.4em;
  @media(max-width: 1600px) {
    font-size: 1.2em;
  }
  @media(max-width: 1200px) {
    font-size: 1em;
  }
  @media(max-width: 900px) {
    font-size: .8em;
  }
  @media(max-width: 600px) {
    font-size: .7em;
  }
  @media(max-height: 400px) {
    font-size: .6em;
  } // para telefones na horizontal
}

.swiper-container {
    width: 100%;
    height: 100vh;
}

#logo {
  position: absolute;
  z-index: 2;
  top: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    height: 10vh;
  }
}

.conteudo-do-slide {
  @include estilo-texto;
  margin-top: 30vh;
  margin-left: 5%;
}
.tagline {
  line-height: .9;
  font-size: 4em;
  margin-bottom: .3em;
}
#btn-resereva {
  @include estilo-texto;
  font-size: 1.2em;
  text-decoration: none;
  padding: .5em 1em;
  border: 1px solid white;
  transition: all .3s;
  &:hover {
    background-color: rgba(255,255,255,0.15);
  }
}

@each $images in _01, _02, _03, _04, _05, {
  #slide#{$images} {
    background: url('../img/zazah#{$images}.jpg') center center no-repeat;
    background-size: cover;
  }
} // loop que adiciona as images de BG dos slides

#location {
  position: fixed;
  z-index: 2;
  bottom: 5%;
  left: 5%;
  a {
    text-decoration: none;
    color: white;
  }
  a.phone {
    span {
      font-weight: 300;
    }
  }
  img.pin {
    width: 1.5em;
    margin-bottom: .4em;
  }
  img.phone {
    width: 1.1em;
    margin-right: .1em;
  }
  p {
    @include estilo-texto;
    margin: 0;
  }
}


.swiper-pagination-bullet-active {
  background-color: white;
}
